{% extends 'base.html' %}

{% block head %}

    <title>Lista plików</title>

{% endblock head %}

{% block body %}


        <tbody>

        <h4><a href="{% url 'file_create' %}">Dodaj nowy plik</a></h4>

        <table class="table">

            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>PLIK</th>
                <th>ROZMIAR</th>
                <th>USUŃ</th>
            </tr>
          </thead>



            {% for file in object_list %}

                <tr>
                    <td>
                        <h5>{{ file.id }}</h5>
                    <td>
                        <h5><a href="{{ file.get_absolute_url }}">{{ file.get_filename }}</a></h5>
                    </td>
                    <td>
                        <h5>{{ file.file.size }}</h5>
                    </td>
                    <td>
                        <h5>
                            <form method="post" action="{% url 'file_delete' file.pk %}">
                                {% csrf_token %}
                                <input type="submit" value="usuń plik">
                            </form>
                        </h5>
                    </td>
                </tr>

            {% endfor %}
            </table>
        </tbody>



{% endblock %}